In [1]:
import pandas as pd
import numpy as np 
print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

Akses nilai variable pada query()
Query berfungsi untuk melakukan seleksi baris 
Saat akan mengakses nilai suatu variabel sewaktu memanggil fungsi query itu bisa dilakukan dengan menampilkan karakter @ lalu diikuti dengan nama variabel yang akan di akses nilainya

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')
df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df

    A   B   C   D   E
0  13   8   5  11  17
1  15  18  13   7   6
2  12  15  15  19  12
3   2   4   1  14  11
4   2  12   5  17   9

In [3]:
df.query('A > 5')

    A   B   C   D   E
0  13   8   5  11  17
1  15  18  13   7   6
2  12  15  15  19  12

In [4]:
rerata = df['A'].mean()
rerata

8.8

In [5]:
df.query('A > @rerata')

    A   B   C   D   E
0  13   8   5  11  17
1  15  18  13   7   6
2  12  15  15  19  12