In [1]:
import pandas as pd
print(pd.__version__)

1.3.4

Melakukan Random sampling pada Data Frame
Method .sample() membutuhkan 3 parameter:
1. jumlah data yang akan disample (n)
2. parameter replace (True/False) 
3. parameter random_state berkorelasi dengan random set number, memiliki fungsi sebagai untuk menjamin suatu experiment bisa direplikasi atau dilakukan ulang dengan hasil yang sama persis

In [2]:
d = {'col_1':[1, 2, 3, 4, 5], 'col_2':[10, 20, 30, 40, 50]}
df = pd.DataFrame(d)
df

   col_1  col_2
0      1     10
1      2     20
2      3     30
3      4     40
4      5     50

Random sampling with replacement

In [6]:
df.sample(n=4, replace=True, random_state=0)

   col_1  col_2
4      5     50
0      1     10
3      4     40
3      4     40

Random sampling without replacement

In [5]:
df.sample(n=4, replace=False, random_state=0)

   col_1  col_2
2      3     30
0      1     10
1      2     20
3      4     40